@using System.Activities.Expressions
@model RPGXEFDevTestServerManager.Models.HomeViewModel
@{
    ViewBag.Title = "Index Page";
}
<h1>RPG-X EF Development Test Server Manager</h1>
<p>Download binaries for RPG-X EF versions running on the Development Test Server at <b>testserver.last-outpost.net</b>.</p>
<p>Registered users can also push branches to the test server which will automatically be build and copied over to the test server.</p>

<div class="row">
    <div class="col-xs-12">
        <p><h2>Currently Running</h2> (refresh your browser to update status)</p>
        <div id="divCurrentlyRunning">
            @{Html.RenderPartial("CurrentlyRunning", Model);}
        </div>

        <h2>Branches</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-4  col-sm-2 col-md-1">Hashcode</th>
                    <th class="hidden-xs col-sm-3 col-md-3">Branch Name</th>
                    <th class="col-xs-4  col-sm-4 col-md-5">Download</th>
                    <th class="col-xs-4  col-sm-3 col-md-3">Activate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Branches)
                {
                    <tr>
                        <td class="col-xs-1 col-sm-2 col-md-1"><a href="https://github.com/solarisstar/rpgxEF/commit/@item.HeadCommitHash">@item.HeadCommitHash</a></td>

                        <td class="hidden-xs col-sm-3 col-md-3">@item.Name</td>

                        <td class="col-xs-7 col-sm-4 col-md-5@(@item.HasBeenBuild ? "" : " hidden")">
                            <a class="btn btn-default@(item.AreWindowsX86BinariesBuild ? "" : " disabled")"
                               href="/rpgxefdevtestserver/RPGXEFBuildHistory/@Model.CurrentBranch.HeadCommitHash/binaries/windows_x86.zip"
                               title="Windows 32-bits Binaries"
                               download>
                                <i class="fa fa-windows" aria-hidden="true"></i> 32-bits
                            </a>
                            <a class="btn btn-default@(item.AreLinuxX86BinariesBuild ? "" : " disabled")"
                               href="/rpgxefdevtestserver/RPGXEFBuildHistory/@Model.CurrentBranch.HeadCommitHash/binaries/linux_x86.zip"
                               title="Linux 32-bits Binaries"
                               download>
                                <i class="fa fa-linux" aria-hidden="true"></i> 32-bits
                            </a>
                            <a class="btn btn-default@(item.AreLinuxX64BinariesBuild ? "" : " disabled")"
                               href="/rpgxefdevtestserver/RPGXEFBuildHistory/@Model.CurrentBranch.HeadCommitHash/binaries/linux_x64.zip"
                               title="Linux 64-bits Binaries"
                               download>
                                <i class="fa fa-linux" aria-hidden="true"></i> 64-bits
                            </a>
                            <a class="btn btn-default@(item.IsBuildLogAvailable ? "" : " disabled")"
                               href="/rpgxefdevtestserver/RPGXEFBuildHistory/@Model.CurrentBranch.HeadCommitHash/binaries/buildlog.txt"
                               title="Build Log"
                               download>
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                            </a>
                        </td>

                        <td class="col-xs-4 col-sm-4 col-md-5@(@item.HasBeenBuild ? " hidden" : "")">
                            Not yet activated
                        </td>


                        <td class="col-xs-4 col-sm-3 col-md-3">
                            @if (Request.IsAuthenticated)
                            {
                                @Html.ActionLink("Activate", "Activate", new { hash = @item.HeadCommitHash }, new { @class = "btn btn-default" })
                            }
                            else
                            {
                                <p>Log in to Activate branches</p>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>